# Simple Data Types

In [1]:
my_integer = 10
type(my_integer)

int

In [2]:
my_float = 5.5
type(my_float)

float

In [3]:
type(5)

int

In [4]:
my_string = 'Hello World!'
my_string_2 = "Hello World"
type(my_string_2)

str

In [5]:
my_bool = True
# my_bool = False
type(my_bool)

bool

In [6]:
x = 5
y = 1
print(type(x > y))

<class 'bool'>

In [2]:
# Data Types Conversation
salary = 1000
print('Your annual wage is ', salary, '$')

Your annual wage is  1000 $

In [3]:
type(str(salary))

str

In [4]:
print('Your annual wage is ' + str(salary) + '$')

Your annual wage is 1000$

In [5]:
int('1000') + 100

1100

In [6]:
# Implicit Data Type Conversion
print(1 + False)
# print(20 / 5.1)

1

## String

In [7]:
1 + 2

3

In [8]:
'1' + '2'

'12'

In [9]:
my_string = 'Hello World'

In [10]:
my_string.upper()

'HELLO WORLD'

In [11]:
my_string.lower()

'hello world'

In [12]:
my_string.capitalize()

'Hello world'

In [13]:
my_string.replace('Hello', 'Goodbye')

'Goodbye World'

In [14]:
len(my_string)

11

## Indexing and Slicing

In [15]:
my_string = 'Hello World'

In [16]:
my_string[2]

'l'

In [17]:
my_string[-1]

'd'

In [18]:
my_string[0:5]

'Hello'

In [19]:
my_string = 'Hello World'
my_string[0:8:2]

'HloW'

In [20]:
my_string[6:]

'World'

In [21]:
my_string[:5]

'Hello'

How to extract the hour from a date in the following format?

In [22]:
date = '2019-08-27T23:59:00.932'

In [23]:
date[11:13]

'23'

## Checking for the Inclusion of an Element in an Object

In [24]:
my_string = 'Hello World'
target_string = 'World'

if target_string in my_string:
    print('find!')

find!

## f-string

In [25]:
name = 'oleg'
lang = 'python'

t = f"Hello, {name.capitalize()}, i know {lang} a bit"

print(t)
print(type(t))

Hello, Oleg, i know python a bit
<class 'str'>

In [26]:
print(f'Hello {name}, i know {lang} a bit')

Hello oleg, i know python a bit

# List

In [38]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [39]:
print(type(month_list))
print(type(income_list))
print(type(income_by_months))

<class 'list'>
<class 'list'>
<class 'list'>

In [40]:
# Indexing Elements in a List
print(month_list[0])
print(month_list[-1])
print(income_by_months[-4][1])

Jan
Sep
13000

In [41]:
# Slice
print(income_by_months[1:3])  # 0, 1
print('--------------')
print(income_by_months[-8:-6])
print('--------------')
print(income_by_months[2:])
print('--------------')
print(income_by_months[:3])

[['Feb', 14000], ['Mar', 14300]]
--------------
[['Feb', 14000], ['Mar', 14300]]
--------------
[['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
--------------
[['Jan', 13000], ['Feb', 14000], ['Mar', 14300]]

In [42]:
# you can access any level of nesting
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
income_by_months[0][0]

'Jan'

In [43]:
income_by_months[0][1]

13000

In [44]:
# Modifying Lists
income_by_months[0][1] = 13100
print(income_by_months)

[['Jan', 13100], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [45]:
income_by_months[0:2] = [['Jan', 13200], ['Feb', 13900]]
print(income_by_months)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [46]:
a, b = [1, 2]

In [47]:
a

1

In [48]:
b

2

In [49]:
income_by_months_2 = [['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300], ['Nov', 15400], ['Dec', 17000]]

## Unpacking Lists

In [50]:
data = ['first', 'second', 'third']
first = data[0]

In [51]:
first, second, third = ['first', 'second', 'third']
first

'first'

In [52]:
# when number of elements unknown
first, *_ = ['first', 'second', 'third']
first

'first'

In [53]:
_

['second', 'third']

In [54]:
first, *other, last =  ['first', 'second', 'third', 'forth']

In [55]:
other

['second', 'third']

In [56]:
first

'first'

In [57]:
first, last

('first', 'forth')

## List Operations

In [58]:
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Sep', 15300]]

In [59]:
# Removing an Element by Index
del(income_by_months[-1])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200]]

In [60]:
month_list

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

In [61]:
# Removing an Element by Value
month_list.remove('Sep')
print(month_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']

In [62]:
# Adding an Element in the end of List
income_by_months.append(['Dec', 17000])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Dec', 17000]]

In [63]:
income_list

[13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [64]:
# Adding an Element in the list by index
income_list.insert(2, 1111111)
print(income_list)

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [65]:
# Counting the Number of Occurrences of an Element in a List
income_list.count(13000)

2

In [66]:
income_list

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [67]:
# Finding the Index of an Element in a List (only the first occurrence!)
income_list.index(13000, 1)

6

In [57]:
# Reversing a List
month_list.reverse()
month_list

['Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

In [58]:
# Find Lists's Length
len(income_list)

10

In [59]:
# Sum of elements in List
sum(income_list)

1239611

In [60]:
income_list

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [86]:
# maximum element among elements
max(income_list)

1111111

In [61]:
# minimum element among elements
min(income_list)

13000

In [62]:
# sorting in ascending order
sorted(income_list)

[13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300, 1111111]

In [63]:
income_list

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [64]:
# Changing sorting order
sorted(income_list, reverse= True)

[1111111, 15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000]

In [65]:
# Sorting List by Alphabit
sorted(month_list)

['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May']

## Modifying Lists

In the example below, variables `a` and `b` actually point to the same object. As a result, when you add another element to `b`, that element is also added to the original list `a`.

In [66]:
a = [1, 2, 3]
b = a

In [67]:
b.append(4)
'a = {}'.format(a)

'a = [1, 2, 3, 4]'

In [68]:
id(a), id(b)

(1743995417536, 1743995417536)

Using module copy

In [69]:
import copy

In [70]:
a = [1, 2, 3]
b = copy.copy(a)

In [71]:
id(a), id(b)

(1743995334592, 1743995531968)

In [72]:
b.append(4)
print('a = {}'.format(a))

print('b = {}'.format(b))

a = [1, 2, 3]
b = [1, 2, 3, 4]

## Lists and Strings

In [73]:
queries_string = "watch TV series online, sports news, movie schedule, dollar exchange rate, TV series this summer, Python course, TV series about sports."

In [74]:
# String conversion to List
queries_list = queries_string.split(',')
queries_list

['watch TV series online',
 ' sports news',
 ' movie schedule',
 ' dollar exchange rate',
 ' TV series this summer',
 ' Python course',
 ' TV series about sports.']

In [75]:
len(queries_list[0].split(' '))

4

In [76]:
len(queries_list[0].split(' '))

4

In [77]:
# Converstion List to string

print(','.join(['Column 1', 'Column 2', 'Column 3']))

Column 1,Column 2,Column 3

In [79]:
# Checking for the Inclusion of an Element in a List

# 'Moscow' in ['Saint-Petesburg', 'London', 'Berlin', 'Moscow']
'Moscow' not in  ['Saint-Petesburg', 'London', 'Berlin', 'Moscow']

False

# Tuple

In [80]:
salary_tuple = (1000, 1200, 1300, 900, 800)
# type(salary_tuple)
type(list(salary_tuple))

list

In [81]:
list(salary_tuple)

[1000, 1200, 1300, 900, 800]

In [82]:
# print(salary_tuple[0])
salary_tuple[0] = 500

TypeError: 'tuple' object does not support item assignment

In [83]:
# A tuple containing a single element is defined like this:
t = ('one', )

In [84]:
type(t)

tuple

In [85]:
# Without comma you will get a string
type( ('one') )

str

In [86]:
# function zip
salaries = [1000, 1200, 1300, 900, 800, 1000]
names = ['Robert', 'Jane', 'Liza', 'Richard', 'John']

salaries_by_names = zip(names, salaries)
print(salaries_by_names)

<zip object at 0x000001960E3F2440>

In [87]:
list(salaries_by_names)

[('Robert', 1000),
 ('Jane', 1200),
 ('Liza', 1300),
 ('Richard', 900),
 ('John', 800)]

# Loops

## Loop while

In [88]:
x = 5
while x != 0:
    x -= 1
    print(x)
    # break
    
print('I wrapped up a work.')

4
3
2
1
0
I wrapped up a work.

In [89]:
x = 7
while x != 0:
    if x % 2 == 0:
        print(x, '- even number')
    else:
        print(x, '- odd number')
    x = x - 1

7 - odd number
6 - even number
5 - odd number
4 - even number
3 - odd number
2 - even number
1 - odd number

## Loop for

In [90]:
# Iteration by string
company_name = 'Orange'
for letter in company_name:
    print(letter)
#     letter = letter.capitalize()
#     print(letter)
# print(letter)

O
r
a
n
g
e

In [69]:
# Iteration by List
companies_capitalization = [
    ['Orange', 1.3],
    ['Maxisoft', 1.5],
    ['Headbook', 0.8],
    ['Nicola', 2.2]
]

In [73]:
for company in companies_capitalization:
   #  print(company)
    print(company[0], 'capitalization is', company[1])
  #   print('end of iteration')

Orange capitalization is 1.3
Maxisoft capitalization is 1.5
Headbook capitalization is 0.8
Nicola capitalization is 2.2

## break, pass, continue

In [93]:
phrase = '640K should be enough for anybody. Bill Gates (legend has it)'

In [94]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end='')

640K

In [95]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter)
print('finish loop')

6
4
0
K
s
h
o
u
l
d
b
e
e
n
o
u
g
h
f
o
r
a
n
y
b
o
d
y
.
B
i
l
l
G
a
t
e
s
(
l
e
g
e
n
d
h
a
s
i
t
)
finish loop

In [96]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter)
print('finish loop')

6
4
0
K

s
h
o
u
l
d

b
e

e
n
o
u
g
h

f
o
r

a
n
y
b
o
d
y
.

B
i
l
l

G
a
t
e
s

(
l
e
g
e
n
d

h
a
s

i
t
)
finish loop

### Function range and enumerate

In [97]:
range(10)
type(range(10))

range

In [98]:
list(range(2, 10, 5))

[2, 7]

In [99]:
range(10**12)

range(0, 1000000000000)

In [100]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [101]:
# with specifying the left and right boundaries
for i in range(3, 20):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [102]:
# Third argument - step size
for i in range(3, 20, 5):
    print(i)

3
8
13
18

In [103]:
# enumerate - get index number for each element
# enumerate([1, 2, 3, 4, 5])
list(enumerate([1, 2, 3, 4, 5]))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [104]:
companies_capitalization = [
    ['Orange', 1.3],
    ['Maxisoft', 1.5],
    ['Headbook', 0.8],
    ['Nicola', 2.2]
]

for i, company in enumerate(companies_capitalization):
    print(i+1, company[0], 'capitalization is', company[1])

1 Orange capitalization is 1.3
2 Maxisoft capitalization is 1.5
3 Headbook capitalization is 0.8
4 Nicola capitalization is 2.2

In [105]:
for i, company in enumerate(companies_capitalization):
    print(company)
    
    if i > 2:
        break

['Orange', 1.3]
['Maxisoft', 1.5]
['Headbook', 0.8]
['Nicola', 2.2]

## Practice

There is a data structure called cook_book that stores information about the ingredients of dishes and their quantities per serving, along with a variable that stores the number of people for whom the dishes need to be prepared

In [106]:
cook_book = [
  ['salad',
      [
        ['potato', 100, 'g'],
        ['carrot', 50, 'g'],
        ['cucmber', 50, 'g'],
        ['pea', 30, 'g'],
        ['mayonnaise', 70, 'ml'],
      ]
  ],
  ['pizza',  
      [
        ['cheese', 50, 'g'],
        ['tomato', 50, 'g'],
        ['dough', 100, 'g'],
        ['bacon', 30, 'g'],
        ['sausage', 30, 'g'],
        ['mushrooms', 20, 'g'],
      ],
  ],
  ['fruit desert',
      [
        ['persimmon', 60, 'g'],
        ['kiwi', 60, 'g'],
        ['cottage', 60, 'g'],
        ['sugar', 10, 'g'],
        ['honey', 50, 'ml'],  
      ]
  ]
]

In [107]:
person = 5

It is necessary to display to the user a shopping list of the required quantity of ingredients for cooking dishes for a specific number of people in the following format:

Salad:
- Potatoe, 500g
- Carrot, 250g
- Cucumber, 250g
- Peas, 150g
- Mayonnaise, 350ml

Pizza:
- Cheese, 250g
- Tomatoe, 250g
- Dough, 500g
- Bacon, 150g
- Sausage, 150g
- Mushrooms, 100g

Fruit Dessert:
- Persimmons, 300g
- Kiwi, 300g
- Cottage, 300g
- Sugar, 50g
- Honey, 250ml

In [108]:
for item in cook_book:
    print(item[0].capitalize())
    
    for line in item[1]:
        meal, weight, gr = line
        weight = weight * person
        
        print(meal, weight, gr)
    
    print('')

Salad
potato 500 g
carrot 250 g
cucmber 250 g
pea 150 g
mayonnaise 350 ml

Pizza
cheese 250 g
tomato 250 g
dough 500 g
bacon 150 g
sausage 150 g
mushrooms 100 g

Fruit desert
persimmon 300 g
kiwi 300 g
cottage 300 g
sugar 50 g
honey 250 ml

## List comprehension

In [109]:
# Given a sequence of numbers. We want to keep only those that are divisible by 5.
sequence = range(0, 40, 3)
list(sequence)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [110]:
# Direct solution
for num in sequence:
    if num % 5 == 0:
        print(num)

0
15
30

In [111]:
# if you need solution as list
filtered_sequence = []

for num in sequence:
    if num % 5 == 0:
        filtered_sequence.append(num)

print(filtered_sequence)

[0, 15, 30]

In [112]:
[num for num in sequence if num % 5 == 0]

[0, 15, 30]

In [113]:
[num for num in sequence if num % 5 == 0]

[0, 15, 30]

In [114]:
[w for w in sequence if w % 5 == 0]

[0, 15, 30]

In [115]:
# with list comprehension solution is shorter

[x**2 for x in sequence if x % 5 == 0]

[0, 225, 900]

Example of calculating a metric from a set of lists. Columns in each row:

- date
- meter number
- number of visits

Let's find the average number of visits from our data.

In [116]:
api_response = [
    ['2017-12-26', '777', 184],
    ['2017-12-27', '111', 146],
    ['2017-12-28', '777', 98],
    ['2017-12-29', '777', 206],
    ['2017-12-30', '111', 254],
    ['2017-12-31', '777', 89],
    ['2018-01-01', '111', 54],
    ['2018-01-02', '777', 68],
    ['2018-01-03', '777', 74],
    ['2018-01-04', '111', 89],
    ['2018-01-05', '777', 104],
    ['2018-01-06', '777', 99],
    ['2018-01-07', '777', 145],
    ['2018-01-08', '111', 184],
]

In [117]:
sum([element[2] for element in api_response if element[1] == '777'])

1067

In [118]:
for element in api_response:
    print(element[2])

184
146
98
206
254
89
54
68
74
89
104
99
145
184

In [119]:
sum([x[2] for x in api_response])/len(api_response)

128.14285714285714

## Set
A set of non-repeating elements in random order

In [5]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [6]:
set([1, 2, 1])

{1, 2}

In [7]:
# logical OR  that what you need to know as data-scientst OR as data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

{'R', 'SQL', 'Git', 'Scala', 'Java', 'Python', 'SAS', 'Hadoop', 'Tableau'}
{'R', 'SQL', 'Git', 'Scala', 'Java', 'Python', 'SAS', 'Hadoop', 'Tableau'}

In [8]:
# Logical AND  that what you need to know as data-scientist AND data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

{'SQL', 'Git', 'Python'}
{'SQL', 'Git', 'Python'}

In [9]:
# set difference  that what data-scientist knows, but data-engineer doesn't know
# print(data_scientist_skills.difference(data_engineer_skills))
# print(data_scientist_skills - data_engineer_skills)
print(data_engineer_skills.difference(data_scientist_skills))
print(data_engineer_skills - data_scientist_skills)

{'Scala', 'Java', 'Hadoop'}
{'Scala', 'Java', 'Hadoop'}

In [10]:
# symmetric set difference  what do a data-scientist and a data-engineer know that they both dont know
# print(data_scientist_skills.symmetric_difference(data_engineer_skills))
# print(data_scientist_skills ^ data_engineer_skills)
print(data_engineer_skills.symmetric_difference(data_scientist_skills))
print(data_engineer_skills ^ data_scientist_skills)

{'Java', 'R', 'SAS', 'Scala', 'Hadoop', 'Tableau'}
{'Java', 'R', 'SAS', 'Scala', 'Hadoop', 'Tableau'}

In [11]:
# You can remove all repetitions from a list simply by turning it into a set!

# Dictonary

In [12]:
salaries = {
    'John': 1200,
    'Mary': 500,
    'Steven': 1000,
    'Liza': 1500
}

In [13]:
# accessing a dictionary element
salaries['John']

1200

In [14]:
# removing a dictionary element
del(salaries['Liza'])
salaries

{'John': 1200, 'Mary': 500, 'Steven': 1000}

In [15]:
# adding a dictinory element
salaries['Mary'] = 2000
salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000}

In [16]:
# safely get the value by key
# salaries['Oleg']
# print(salaries.get('Oleg', 'Not found'))
salaries.get('Mary', 'Not Found')

2000

In [17]:
salaries['Andrey'] += 2000

KeyError: 'Andrey'

In [19]:
# check for the presence of a key in the dictionary
recruit = 'Amanda'

if recruit in salaries:
    print('Key value already exists')
else:
    print('Adding new key')
    salaries[recruit] = 2200

print(salaries)

Key value already exists
{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'Amanda': 2200}

In [20]:
# Using method setdefault
# setdefault doesn't modify key, if it already exists

# salaries.setdefault('Mary', 3000)
# salaries
salaries.setdefault('Paul', 3000)
salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'Amanda': 2200, 'Paul': 3000}

In [21]:
# Complex Dictionry
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [22]:
staff_dict['Robert']['bonus']

200

In [23]:
staff_dict['Oleg'] = {'salary': 1000000, 'bonus': 300}
staff_dict

{'Robert': {'salary': 800, 'bonus': 200},
 'Jane': {'salary': 200, 'bonus': 300},
 'Liza': {'salary': 1300, 'bonus': 200},
 'Richard': {'salary': 500, 'bonus': 1200},
 'Oleg': {'salary': 1000000, 'bonus': 300}}

In [24]:
# Get key/value from dictionary (useful in loops)
# print(staff_dict.keys())
# print(staff_dict.values())
# print(staff_dict.items())

print(list(staff_dict.keys()))
print(list(staff_dict.values()))
print(list(staff_dict.items()))

['Robert', 'Jane', 'Liza', 'Richard', 'Oleg']
[{'salary': 800, 'bonus': 200}, {'salary': 200, 'bonus': 300}, {'salary': 1300, 'bonus': 200}, {'salary': 500, 'bonus': 1200}, {'salary': 1000000, 'bonus': 300}]
[('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})]

In [25]:
# Iteration by dictionary
# without Loop
print("Robert's salary:", staff_dict['Robert']['salary'])
print("Jane's salary:", staff_dict['Jane']['salary'])
print("Richard's salary:", staff_dict['Richard']['salary'])

Robert's salary: 800
Jane's salary: 200
Richard's salary: 500

In [26]:
for person in staff_dict:
    print(person)

Robert
Jane
Liza
Richard
Oleg

In [27]:
for key in staff_dict.keys():
    print(key)

Robert
Jane
Liza
Richard
Oleg

In [28]:
for value in staff_dict.values():
    print(value)

{'salary': 800, 'bonus': 200}
{'salary': 200, 'bonus': 300}
{'salary': 1300, 'bonus': 200}
{'salary': 500, 'bonus': 1200}
{'salary': 1000000, 'bonus': 300}

In [29]:
for key, value in staff_dict.items():
    print(key, value['salary'])

Robert 800
Jane 200
Liza 1300
Richard 500
Oleg 1000000

In [30]:
for i, person in enumerate(staff_dict):
    print(i+1, person)

1 Robert
2 Jane
3 Liza
4 Richard
5 Oleg

In [31]:
# Using Loop
for person, info in staff_dict.items():
#     print(person, info)
    print(person, "'s salary: ", info['salary'], sep='')

Robert's salary: 800
Jane's salary: 200
Liza's salary: 1300
Richard's salary: 500
Oleg's salary: 1000000

In [32]:
# Adding level Salary
for person, info in staff_dict.items():
#     print(person)
    if info['salary'] > 1000:
        info['status'] = 'above average'
    else:
        info['status'] = 'below average'
#     print(f"{person}'s salary: {info['salary']} ({status})")

staff_dict

{'Robert': {'salary': 800, 'bonus': 200, 'status': 'below average'},
 'Jane': {'salary': 200, 'bonus': 300, 'status': 'below average'},
 'Liza': {'salary': 1300, 'bonus': 200, 'status': 'above average'},
 'Richard': {'salary': 500, 'bonus': 1200, 'status': 'below average'},
 'Oleg': {'salary': 1000000, 'bonus': 300, 'status': 'above average'}}

In [33]:
# Function zip
categories = ['', '', '', '346346']
audience = [100, 200, 300]

dict(zip(categories, audience))

# categories_dict = dict(zip(categories, audience))
# print(categories_dict)

{'': 100, '': 200, '': 300}

## Dict comprehension
Similar to  list comprehension

In [34]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
{n: n**2 for n in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [36]:
results = [('date', '2018-01-01'), ('counter', '777'), ('visits', 154)]

In [259]:
{metric: value for (metric, value) in results}

{'date': '2018-01-01', 'counter': '777', 'visits': 154}